body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

/* Add animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(10);
  }
}

.flex-align-to-center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-align-to-center {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.flex-gap {
  display: flex;
  gap: 8px;
}

.flex-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.grid-gap {
  display: grid;
  gap: 8px;
}

.grid-gap24 {
  display: grid;
  gap: 24px;
}

.grid-container {
  display: grid;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
